//FONT
@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

//FONT SIZE
$pc_lg: 45px;
$pc_md: 22px;
$pc_sm: 18px;
$tb_lg: 30px;
$tb_md: 15px;
$tb_sm: 10px;
$mb_lg: 20px;
$mb_md: 12px;
$mb_sm: 10px;

//COLOR
$sub_title: #7b8498;
$join_btn: #a160ff;

body {
    background-color: rgb(245, 245, 244);
}

.Home {
    font-family: "SpoqaHanSansNeo-Regular";

    //BOX SHADOW
    .shadow {
        --tw-shadow: 0 9px 20px rgba(0, 0, 0, 0.12);
        --tw-shadow-colored: 0 9px 20px var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }

    a {
        text-decoration: none;
        color: white;
    }

    .main {
        //<-----SECTION TAGS----->
        //전체화면
        @media (min-width: 800px) {
            .section_tags {
                padding: 30px 150px 120px 150px;
                .title {
                    text-align: center;
                }
                .sub_title {
                    text-align: center;
                }
                .tags_img {
                    display: flex;
                    justify-content: center;
                    margin-top: 40px;
                    margin-bottom: 40px;
                    img {
                        max-width: 62%;
                        height: auto;
                    }
                }
            }
        } //테블릿
        @media (max-width: 800px) and (min-width: 450px) {
            .section_tags {
                padding: 50px 0px 100px 0px;
                .title {
                    text-align: center;
                }
                .sub_title {
                    text-align: center;
                }
                .tags_img {
                    display: flex;
                    justify-content: center;
                    margin-top: 80px;
                    margin-bottom: 80px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                .join_btn_wrapper {
                    padding: 0px 50px;
                }
            }
        } //모바일
        @media (max-width: 450px) {
            .section_tags {
                padding: 50px 0px 100px 0px;
                .title {
                    text-align: center;
                }
                .sub_title {
                    text-align: center;
                }
                .tags_img {
                    display: flex;
                    justify-content: center;
                    margin-top: 50px;
                    margin-bottom: 50px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                .join_btn_wrapper {
                    padding: 0px 50px;
                }
            }
        }

        //<-----SECTION PROFILE, CONTENT----->
        //전체화면
        @media (min-width: 1200px) {
            .section_profile {
                padding: 120px 150px;
                display: flex;
                justify-content: space-between;
                .img_wrapper {
                    border-radius: 20px;
                    img {
                        width: 500px;
                        height: auto;
                    }
                }
            }
            .section_content {
                padding: 120px 150px;
                display: flex;
                justify-content: space-between;
                .img_wrapper {
                    border-radius: 20px;
                    img {
                        width: 500px;
                        height: auto;
                    }
                }
            }
        } //테블릿1
        @media (max-width: 1200px) and (min-width: 800px) {
            .section_profile {
                padding: 120px 150px;
                text-align: center;
                .title_wrapper {
                    .sub_title {
                        margin-bottom: 80px;
                    }
                }
                .img_wrapper {
                    border-radius: 20px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            .section_content {
                padding: 120px 150px;
                text-align: center;
                .title_wrapper {
                    .sub_title {
                        margin-bottom: 80px;
                    }
                }
                .img_wrapper {
                    border-radius: 20px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        } //테블릿2
        @media (max-width: 800px) and (min-width: 450px) {
            .section_profile {
                padding: 100px 50px;
                text-align: center;
                .title_wrapper {
                    .sub_title {
                        margin-bottom: 80px;
                    }
                }
                .img_wrapper {
                    border-radius: 15px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            .section_content {
                padding: 100px 50px;
                text-align: center;
                .title_wrapper {
                    .sub_title {
                        margin-bottom: 80px;
                    }
                }
                .img_wrapper {
                    border-radius: 15px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
        //모바일
        @media (max-width: 450px) {
            .section_profile {
                padding: 100px 50px;
                text-align: center;
                .title_wrapper {
                    .sub_title {
                        margin-bottom: 50px;
                    }
                }
                .img_wrapper {
                    border-radius: 10px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
            .section_content {
                padding: 100px 50px;
                text-align: center;
                .title_wrapper {
                    .sub_title {
                        margin-bottom: 50px;
                    }
                }
                .img_wrapper {
                    border-radius: 10px;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }

        //<-----SECTION FOOTER----->
        @media (min-width: 800px) {
            .section_footer {
                padding: 120px 150px 100px 150px;
                .title {
                    text-align: center;
                }
                .sub_title {
                    text-align: center;
                    margin-bottom: 80px;
                }
            }
        } //테블릿
        @media (max-width: 800px) and (min-width: 450px) {
            .section_footer {
                padding: 100px 50px 50px 50px;
                .title {
                    text-align: center;
                }
                .sub_title {
                    text-align: center;
                    margin-bottom: 80px;
                }
            }
        } //모바일
        @media (max-width: 450px) {
            .section_footer {
                padding: 100px 50px 50px 50px;
                .title {
                    text-align: center;
                }
                .sub_title {
                    text-align: center;
                    margin-bottom: 50px;
                }
            }
        }

        //<-----공통----->
        //전체화면
        @media (min-width: 800px) {
            .title {
                font-size: $pc_lg;
                margin-bottom: 20px;
                font-weight: 700;
            }
            .sub_title {
                font-size: $pc_md;
                color: $sub_title;
            }
            .join_btn_wrapper {
                display: flex;
                justify-content: center;
                .join_btn {
                    background-color: $join_btn;
                    color: white;
                    padding: 15px;
                    text-align: center;
                    cursor: pointer;
                    width: 400px;
                    border-radius: 40px;
                    font-size: $pc_sm;
                }
            }
        }
        //테블릿
        @media (max-width: 800px) and (min-width: 450px) {
            .title {
                font-size: $tb_lg;
                margin-bottom: 25px;
                font-weight: 700;
            }
            .sub_title {
                font-size: $tb_md;
                color: $sub_title;
            }
            .join_btn_wrapper {
                display: flex;
                justify-content: center;
                .join_btn {
                    background-color: $join_btn;
                    color: white;
                    padding: 15px;
                    text-align: center;
                    cursor: pointer;
                    width: 400px;
                    border-radius: 40px;
                    font-size: $tb_md;
                }
            }
        } //모바일
        @media (max-width: 450px) {
            .title {
                font-size: $mb_lg;
                margin-bottom: 15px;
                font-weight: 700;
            }
            .sub_title {
                font-size: $mb_md;
                color: $sub_title;
            }
            .join_btn_wrapper {
                display: flex;
                justify-content: center;
                .join_btn {
                    background-color: $join_btn;
                    color: white;
                    padding: 10px;
                    text-align: center;
                    cursor: pointer;
                    width: 100%;
                    border-radius: 40px;
                    font-size: $mb_md;
                }
            }
        }
    }

    //<-----FOOTER----->
    @media (min-width: 450px) {
        .footer {
            color: #7b8498;
            text-align: center;
            padding: 20px 0px;
            font-size: 15px;
        }
    }
    @media (max-width: 450px) {
        .footer {
            color: #7b8498;
            text-align: center;
            padding: 10px 0px;
            font-size: 12px;
        }
    }
}
